<%- include("partials/header"); -%>

<center>
    <h1 >About</h1><br>
    <h2 style="font-family:cursive;font-size: large; text-align: justify;">Normally Diary is secretive, we write our daily things in it, but sometimes we feel that the sentense we wrote or the thought we wrote is nice and beautiful, but we can't show it to anyone or explain ourself to anyone.So here is the Public diary to show your beautiful thoughts or beautiful short incidents and our opinion on it to everyone , so that everyone can read it, enjoy it and implememt it in our life.No need to tell your name , your identity will be hidden but your thoughts will be open for all other.</h2></center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<%- include("partials/footer"); -%>
